---
import { Image } from "astro:assets";
import ig1 from "../assets/images/ig1.webp";
import ig2 from "../assets/images/ig2.webp";
import ig3 from "../assets/images/ig3.webp";
import ig4 from "../assets/images/ig4.webp";
import ig5 from "../assets/images/ig5.webp";
import ig6 from "../assets/images/ig6.webp";
import ig7 from "../assets/images/ig7.webp";
import ig8 from "../assets/images/ig8.webp";
import hover from "../assets/images/hover.webp";
---

<section class="px-4 py-8 lg:py-16 bg-BW-50">
  <!-- Section Heading -->
  <div class="text-right mr-12 mb-3">
    <h1 class="text-h1-mobile font-IvyOra text-BW-950 md:text-h1-desktop">
      FØLG OS PÅ <br />SOCIALE MEDIER
    </h1>
    <h2
      class="text-p-M-mobile font-Brandon text-BW-950 font-light md:text-p-L-desktop"
    >
      @eurowomandk
    </h2>
  </div>
</section>

<!-- Image Grid -->
<div
  class="grid grid-cols-2 sm:grid-cols-4 gap-6 lg:grid-cols-4 lg:grid-rows-2 max-w-screen-xl mx-auto"
>
  <!-- Image 1 -->
  <div class="relative group">
    <div class="w-full h-full">
      <Image
        src={ig1}
        alt="Instagram Image 1"
        class="w-full h-full object-cover transition duration-500 ease-in-out group-hover:opacity-80"
      />
      <!-- Hover Image -->
      <Image
        src={hover}
        alt="hover"
        class="absolute inset-0 w-full h-full opacity-0 group-hover:opacity-80 transition-opacity duration-300"
      />
    </div>
  </div>

  <!-- Image 2 -->
  <div class="relative group">
    <div class="w-full h-full">
      <Image
        src={ig2}
        alt="Instagram Image 2"
        class="w-full h-full object-cover transition duration-500 ease-in-out group-hover:opacity-80"
      />
      <!-- Hover Image -->
      <Image
        src={hover}
        alt="hover"
        class="absolute inset-0 w-full h-full opacity-0 group-hover:opacity-80 transition-opacity duration-300"
      />
    </div>
  </div>

  <!-- Image 3 -->
  <div class="relative group">
    <div class="w-full h-full">
      <Image
        src={ig3}
        alt="Instagram Image 3"
        class="w-full h-full object-cover transition duration-500 ease-in-out group-hover:opacity-80"
      />
      <!-- Hover Image -->
      <Image
        src={hover}
        alt="hover"
        class="absolute inset-0 w-full h-full opacity-0 group-hover:opacity-80 transition-opacity duration-300"
      />
    </div>
  </div>

  <!-- Image 4 -->
  <div class="relative group">
    <div class="w-full h-full">
      <Image
        src={ig4}
        alt="Instagram Image 4"
        class="w-full h-full object-cover transition duration-500 ease-in-out group-hover:opacity-80"
      />
      <!-- Hover Image -->
      <Image
        src={hover}
        alt="hover"
        class="absolute inset-0 w-full h-full opacity-0 group-hover:opacity-80 transition-opacity duration-300"
      />
    </div>
  </div>

  <!-- Image 5 -->
  <div class="relative group">
    <div class="w-full h-full">
      <Image
        src={ig5}
        alt="Instagram Image 5"
        class="w-full h-full object-cover transition duration-500 ease-in-out group-hover:opacity-80"
      />
      <!-- Hover Image -->
      <Image
        src={hover}
        alt="hover"
        class="absolute inset-0 w-full h-full opacity-0 group-hover:opacity-80 transition-opacity duration-300"
      />
    </div>
  </div>

  <!-- Image 6 -->
  <div class="relative group">
    <div class="w-full h-full">
      <Image
        src={ig6}
        alt="Instagram Image 6"
        class="w-full h-full object-cover transition duration-500 ease-in-out group-hover:opacity-80"
      />
      <!-- Hover Image -->
      <Image
        src={hover}
        alt="hover"
        class="absolute inset-0 w-full h-full opacity-0 group-hover:opacity-80 transition-opacity duration-300"
      />
    </div>
  </div>

  <!-- Image 7 -->
  <div class="relative group">
    <div class="w-full h-full">
      <Image
        src={ig7}
        alt="Instagram Image 7"
        class="w-full h-full object-cover transition duration-500 ease-in-out group-hover:opacity-80"
      />
      <!-- Hover Image -->
      <Image
        src={hover}
        alt="hover"
        class="absolute inset-0 w-full h-full opacity-0 group-hover:opacity-80 transition-opacity duration-300"
      />
    </div>
  </div>

  <!-- Image 8 -->
  <div class="relative group">
    <div class="w-full h-full">
      <Image
        src={ig8}
        alt="Instagram Image 8"
        class="w-full h-full object-cover transition duration-500 ease-in-out group-hover:opacity-80"
      />
      <!-- Hover Image -->
      <Image
        src={hover}
        alt="hover"
        class="absolute inset-0 w-full h-full opacity-0 group-hover:opacity-80 transition-opacity duration-300"
      />
    </div>
  </div>
</div>
